/*Набросал наскорую руку, т.к. не хватает времени*/

ul {
    list-style: none;
}

.my {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #e8e8e8;
}



.my > li {
    color: black;
    text-align: left;

}

.my > li > a {
    color: black;
    text-transform: uppercase;
}

li > a {
    text-decoration: none;
    color: #7a7a7a;
}

li > a:hover {
    color: #f16d7f;
}
